.header {
  padding: 32px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #94e3ce;
}

// form calculator
.calc-wrp {
  font-family: "Poppins", sans-serif;
}
.calculator{
  &__price-label{
    margin-bottom: 0.625rem;
    font-size: 11px;
    letter-spacing: -0.5px;
  }

}

.form {
  margin: 0;
  height: 100%;
  &__item{
    margin-bottom: 1.875rem;
    &.hide{
      display: none;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all .2s;
    }
  }
  &__layout{
    grid-row-gap: 0;
    margin-bottom: 0;
  }
  &__wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  &__item.condition-item{
    margin-bottom: 0;
  }
}
.chart__price{
  position: relative;
  &::before{
    content: '$';
    margin-right: 5px;
    left: 0;
  }
}

.checkbox-inline {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 26px;
  align-items: center;
  margin-top: 6px;
  .checkbox__label{
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
  }
  .checkbox__icon{
    border-radius: 2px;
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: 0.625rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    border: 1px solid #BDBDBD;
    cursor: pointer;
  }
  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    &:checked ~ .checkbox__icon{
      border: 1px solid #07becb;
      background-color: #07becb;
      background-image: url(https://uploads-ssl.webflow.com/6284bc411e7490c177b50355/6284bd274fd8832b710ab303_check.svg);
      background-size: auto;
    }
  }
}

label.radio {
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked ~ .radio__icon {
      background-color: #333;
      color: #fff;
      transition: all .2s;
    }
  }
  .radio__icon {
    transition: all .2s;
  }
}

.calculator__graphics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart{
  &__donut{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  &__donut-wrp{
    flex: 1;
    #donutBox{
      position:relative;
      z-index:3;
    }
  }
  &__text{
    top: calc(50% - 45px);
    z-index: 1;
  }

}
// form calculator end